.p-box { border:1px solid black;
    width: 20px;
    height: 180px;
    margin: 0px auto;
    background-color: black;
}

.box-light {
    border: 1px solid black;
    border-radius: 20px;
    width: 120px;
    height: 360px;
    margin: 0px auto;
    background-color: black;
}
.red{
   
    border-radius: 100px;
    width: 100px;
    height: 100px;
    margin: 0px auto;
    margin-top: 30px;
    background-color: red;
}
.yellow{
    
    border-radius: 100px;
    width: 100px;
    height: 100px;
    margin: 0px auto;
    background-color: rgb(225, 174, 7);
    
}
.green{

    
    border-radius: 100px;
    width: 100px;
    height: 100px;
    margin: 0px auto;
    background-color: green;
    
}

.light-on{
    box-shadow: -1px -4px 85px 47px rgba(241,245,122,1);
}
